.header-bar.default-decoration {
  padding-top: 2px;
  padding-bottom: 2px;
}

.header-bar.default-decoration .button.titlebutton {
  padding-top: 2px;
  padding-bottom: 2px;
}

.titlebar {
  border-radius: 0;
}

.window-frame, .window-frame:backdrop {
  border-radius: 0;
}

